/*
 * Globals
 */



body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    padding-top: 50px;
    padding-bottom: 20px;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


h1, .h1,
h2, .h2,
h3, .h3, h3 a,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #588C7C;
    margin-top: 0;
}

h3 {
    font-size: 20px;
}

a {
    color: #588C7C;
}

.navbar-toggle, .navbar-toggle:focus {
    background-color: #8C4646;
}

.badge {
    background-color: #588C7C;
}



/*a {
    color:  #D96459;;
}*/
a:hover {
    color: #8C4646;
    text-decoration: none;
}

.c1 {
    color: #BD3632;
}

.background-color1 {
    background-color: #588C7C !important;
}

.background-color2 {
    background-color: #8C4646;
}

.background-color-admin {
    background-color: #588C7C;
}


.sidebar-module-inset {
    background-color: #F2EFE4;
}



@media (max-width:767px) {
    .nav > li > a.nosmall {
        display: none;
    }

    .nosmall {
        display: none;
    }

    .blog-title {
        font-size: 40px !important;
    }
}

/*
 * Masthead for nav
 */

.blog-masthead {
    border-bottom: 1px solid #e7e7e7;
}

.navbar-default {
    border: 0px;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

    .navbar-default .navbar-nav > li > a {
        line-height: 16px;
        /*border-right: 1px solid white;*/
        color: white;
    }

.dropdown-menu-head > li > a {
    color: white !important;
}

    .dropdown-menu-head > li > a:hover {
        color: #8C4646 !important;
    }

.navbar-nav > .open > a:focus {
    background-color: white !important;
    color: #8C4646 !important;
}

.icon-bar {
    background-color: white !important;
}

/* Nav links */


.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

    .blog-nav-item:hover,
    .blog-nav-item:focus {
        color: #fff;
        text-decoration: none;
    }

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}

    .blog-nav .active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        content: " ";
        width: 0;
        height: 0;
        margin-left: -5px;
        vertical-align: middle;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid;
    }
/*
 * Blog name and description
 */

.container {
    /*margin-right: 0;
    margin-left: 0;*/
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        max-width: 98%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}



@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}





.blog-container {
    margin-top: 50px;
}

.blog-title-nav {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

.blog-title {
    font-family: 'Amatic SC', cursive;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 55px;
    font-weight: normal;
    color: white;
    float: left;
    padding: 15px;
    line-height: 20px;
    height: 20px;
}

@media (max-width:767px) {
    .blog-title-nav {
        padding-left: 5px;
    }

    .blog-title {
        font-size: 35px;
        margin-top: -10px;
    }
}

.tagline {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    margin-left: -10px;
    margin-right: -10px;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #8C4646;
}

@media (min-width: 1200px) {
    .tagline {
        font-size: 32px;
    }
}


.nav-logo {
    margin-top: -2px;
    height: 50px;
}

@media (max-width:767px) {
    .nav-logo {
        margin-top: -8px;
    }
}

@media (max-width:380px) {
    .nav-logo {
        display: none;
    }
}

@media (max-width:500px) {
    .hidden-xxs {
        display: none;
    }
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-with-header {
    margin-top: -40px;
}


.blog-post-title {
    margin-bottom: 16px;
    font-size: 38px;
    color: #588C7C;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


.area-title {
    margin-bottom: 30px;
    font-size: 50px;
    color: #588C7C;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 16px;
    line-height: 1.5;
    overflow:hidden;
}

.padding-top {
    padding-top: 10px;
}

* Sidebar modules for boxing content */ .sidebar {
    padding-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 15px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
    font-size: 14px;
}

.sidebar-module-slideshow {
    padding: 5px;
    margin: 0 -15px 15px;
    font-size: 13px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }

.sidebar-module-bordered {
    border: 1px solid #f5f5f5;
}

.side-bar-info {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.menu-column {
    display: block;
    position: relative;
    box-shadow: 0 0 0;
    border: 0;
    float: left;
}

.blog-list li {
    margin-bottom: 8px;
}

.blog-list img {
    margin-bottom: 8px;
}

.moreblogs {
    padding: 30px;
}

    .moreblogs span {
        font-size: 20px;
    }

@media (max-width:767px) {
    .moreblogs {
        padding: 10px;
    }

        .moreblogs span {
            font-size: 16px;
        }
}

@media (max-width:767px) {
    .nav-tabs.nav-justified > li {
        float: left;
    }
}

@media (max-width:767px){
    article.panel {
        padding:0px;
    }
}



/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 70px 20px 20px;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-left: -20px;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
}

    .nav-sidebar > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-sidebar > .active > a {
        color: #fff;
        background-color: #428bca;
    }

/*
 * Nav baR
 */


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.btn-primary {
    border-color: #6a3e35;
    color: #fff;
    background-color: #8C4646;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        border-color: #6a3e35;
        background-color: #6a3e35;
    }

/*Forms*/
.control-label {
    text-align: left !important;
}

/*Countries*/
.countries img {
    margin-right: 20px;
    margin-bottom: 40px;
}

.countries span {
    font-family: 'Amatic SC', cursive;
    font-size: 39px;
}

.countries h2 {
    font-size: 34px;
}

@media (max-width:767px) {

    .countries span {
        font-size: 38px;
        margin-left: 5px;
    }

    .countries img {
        margin-top: 16px;
        margin-bottom: 0;
        display: block;
    }
}

/*thumnail*/

.caption-medium {
    padding: 5px;
    height: 80px;
    overflow: hidden;
}


.related div.thumbnail:hover, .related div.thumbnail:focus, .related div.thumbnail.active {
    border-color: #D96459;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #D96459;
}


@media (min-width:768px) {
    .photos .thumbnail > img {
        height: 70px;
    }
}

@media (max-width:767px) {
    .photos .thumbnail > img {
        height: 80px;
    }
}

.related .thumbnail > img {
    height: 100px;
}


.thumbnail.with-caption {
    display: inline-block;
    background: #f5f5f5;
    margin-bottom: 30px;
}

    .thumbnail.with-caption p {
        font-family: 'Amatic SC', cursive;
        font-size: 50px;
        text-align: center;
    }

@media (max-width:767px) {
    .thumbnail.with-caption p {
        font-size: 30px;
    }
}

/*Images Grid*/
.column {
    padding: 2px;
    margin: 0px;
}

.thumbnail {
    margin-bottom: 5px;
}

.no-margin-bot {
    margin-bottom: 0px;
}

.slideshowHeader {
    color: white;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .5);
    line-height: 1.4;
    font-size: 16px;
}


/*Modals*/
@media screen and (min-width: 768px) {

     .modal-dialog {
        width: 90%;
    }

    .modal-admin {
        width: 98%;
    }
}


.badge {
    border-radius: 4px;
    font-size: 16px;
}




/*Home Page*/
.home {
    margin-top: -80px !important;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette2 {
    display: inline-block;
    margin-bottom: 20px;
    max-height: 200px;
}

.featurette-image {
    max-height: 450px;
}


    .featurette-image.pull-left {
        margin-right: 40px;
    }

    .featurette-image.pull-right {
        margin-left: 40px;
    }

.featurette-heading {
    font-size: 50px;
}

@media(max-width:1200px) {

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

        .featurette-image.pull-left {
            margin-right: 10px;
        }

        .featurette-image.pull-right {
            margin-left: 10px;
        }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 50px 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }

    .small-feature {
        margin-bottom: 30px;
    }
}

@media(max-width:668px) {


    .featurette-divider {
        margin: 30px 0;
    }
}


@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 45%;
    }

        .featurette-image.pull-left {
            margin-bottom: 10px;
        }

        .featurette-image.pull-right {
            margin-bottom: 10px;
        }
}

@media(max-width:320px) {
    .featurette-image {
        max-width: 30%;
    }
}


/*header*/

.parallax-window {
    min-height: 250px;
    background: transparent;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: no-repeat center center scroll;
    /*background: url('../Images/Home/Intrepid_Nomads_Home.jpg') no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
    margin-top: 30px;
}


    .headline h1 {
        font-size: 170px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        font-family: 'Amatic SC', cursive;
    }

    .headline h2 {
        font-size: 84px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        font-family: 'Amatic SC', cursive;
        color: #6a3e35;
    }

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }
}



@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

        .headline h1 {
            font-size: 60px;
        }

        .headline h2 {
            font-size: 30px;
        }
}

/*Slick Slideshow*/

.slick-prev, .slick-next {
    background-color: white;
}

    .slick-prev:before, .slick-next:before {
        color: #6a3e35;
    }

.home-blogs-slider {
    margin-top: 70px;
    padding-bottom: 30px;
}

    .home-blogs-slider .slide-container {
        width: 160px;
        font-size: 15px;
    }

    .home-blogs-slider img {
        width: 160px;
        height: 120px;
    }


@media(max-width:640px) {
    .home-blogs-slider img {
        width: 150px;
    }
}

@media(max-width:400px) {
    .home-blogs-slider img {
        width: 130px;
        height: 90px;
    }

    .home-blogs-slider .slide-container {
        width: 130px;
        font-size: 14px;
    }
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #8C4646;
    border-color: #6a3e35;
}

.pagination > li > a, .pagination > li > span {
    color: #555;
}

    .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
        color: #8C4646;
    }

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.drinks h5 {
    color: #8C4646 !important;
}

.drinks .minheight {
    min-height: 200px;
}

.drinks .thumbnail img, .drinks .thumbnail .img {
    cursor: pointer;
}

/*ADMIN ==========================================================ADMIN==============ADMIN=========*/
.admin-title {
    font-size: 24px;
}

.panel {
    padding: 20px;
}

.buttonColumn {
    width: 60px;
}

.imagesSelector {
    height: 580px;
    overflow: auto;
}

.imageContainer {
    height: 150px;
    width: 150px;
}


    .imageContainer span {
        font-size: x-small;
    }


.spinner {
    width: 70px;
    text-align: center;
    z-index: 100;
}

.spinner-absolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.grid-spinner {
    position: absolute;
    left: 0;
    top: 45%;
    right: 0;
    bottom: 0;
    margin: auto;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #588C7C;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-sm > div {
    width: 10px;
    height: 10px;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.fade-in {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.sharebuttons a {
    color: white;
    width: 150px;
}

@media (max-width:767px) {
    .sharebuttons {
        text-align:center;
    }
}


.more-like-this {
    max-width: 800px;
}

.facebook {
    background-color: #2d4373;
}

.google {
    background-color: #c63224;
}

.twitter {
    background-color: #0085be;
}
