<!-- BlogListView.html -->
<script type="text/javascript">
    loadDotDotDot('.wrap');
</script>

<spinner ng-show="initializing" class="spinner-absolute" />

<section>
    <h1 class="blog-post-title">Latest Blogs</h1>
    

    <article class="panel " ng-repeat="blog in filteredBlogs track by $index" ng-show="initialized" >
        <bloglist blog="blog"></bloglist>
    </article>

    <div class="text-center">
        <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="pager.numPerPage()" ng-change="pageChanged()"  ng-show="initialized" rotate="true" boundary-link-numbers="true" max-size="4" ></uib-pagination>
    </div>

</section>


