<spinner ng-show="initializing == 0" class="spinner-absolute" />
<div class="blog-post" ng-hide="initializing == 0">
    <h1 class="blog-post-title">
        <span ng-bind="category.categoryDescription" />
    </h1>

    <p ng-bind-html="bindHTML(category.categoryInformation)">
      
    </p>

    <sharebuttons></sharebuttons>

    <hr />
    <spinner ng-show="initializing == 1" />
    <article class="panel " ng-repeat="blog in blogs track by $index" ng-hide="initializing == 1">
        <bloglist blog="blog"></bloglist>
    </article>

</div>
