<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://travelwac.com/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>win002.verysecureservers.org.uk:8172</MSDeployServiceURL>
    <DeployIisAppPath>travelwac.com</DeployIisAppPath>
    <RemoteSitePhysicalPath>C:\HostingSpaces\travelwa\travelwac.com\wwwroot\Travel</RemoteSitePhysicalPath>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>HOSTINGUK\travelwac.com_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TravelEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql9.hostinguk.net;Initial Catalog=Travel;User ID=TravelUser;Password=C0mp455" Name="Server=sql9.hostinguk.net;Database=Travel;Uid=TravelUser;Password=C0mp455" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Travel.DALEntity.TravelEntities, Travel.DALEntity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sql9.hostinguk.net;Initial Catalog=Travel;User ID=TravelUser;Password=C0mp455" Name="" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=LEANNE-HP\SQLEXPRESS;Initial Catalog=Travel;User ID=sa;Password=(Cc243" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LEANNE-HP\SQLEXPRESS;Initial Catalog=Travel;User ID=sa;Password=(Cc243" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql9.hostinguk.net;Initial Catalog=Travel;User ID=TravelUser;Password=C0mp455</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TravelEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Travel.csdl|res://*/Travel.ssdl|res://*/Travel.msl;provider=System.Data.SqlClient;provider connection string="Server=sql9.hostinguk.net;Database=Travel;Uid=TravelUser;Password=C0mp455"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>