<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/content/css">
    <include path="~/content/bootstrap.min.css" />
    <include path="~/content/site.css" />
    <include path="~/content/fancybox/source/jquery.fancybox.css" />
    <include path="~/content/fancybox/source/helpers/jquery.fancybox-buttons.css" />
    <include path="~/content/fancybox/source/helpers/jquery.fancybox-thumbs.css" />  
  </styleBundle>
</bundles>