<div>
    <div class="panel-heading">
        <h2>
            <a ng-href="{{blog.linkURL}}">
                <span ng-bind="blog.title"></span>
            </a>
        </h2>
        <span class="hidden-xxs">
            <span class="glyphicon glyphicon-time"></span>
            <em>
                <span ng-bind="blog.date | date"></span>
            </em>

            by
            <span ng-bind="blog.authorName" />
        </span>
    </div>
    <div class="panel-body" >

        <div class="row">
            <div class="col-xs-6 col-md-5">
                <a ng-href="{{blog.linkURL}}">
                    <img ng-src="{{blog.imageURL}}" height="180" class="img-responsive img-rounded fade-in" spinner-load />
                </a>
            </div>

            <div class="col-md-7">
                <div class="wrap">
                    <p class="">
                        <span ng-bind="parseHTML(blog.contentPreview)" />
                        <a ng-href="{{blog.linkURL}}" title="read more" class="readmore">Read more »</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>