<ul class="list-inline" style="margin-top: 20px">
    <li>
        <a href="http://www.facebook.com/IntrepidNomads" target="_blank">
            <img  src="/Images/Social/64x64/facebook.png" Height="40" ToolTip="Follow us on facebook" />
        </a>
    </li>
    <li>
        <a href="http://intrepidnomads.com/rss/feed" Target="_blank">
            <img src="/Images/Social/64x64/rss.png" Height="40"  ToolTip="Subscribe to our RSS feed" />
        </a>
    </li>
    <li>
        <a href="https://twitter.com/IntrepidNomads" target="_blank">
            <img src="/Images/Social/64x64/twitter.png"  Height="40" ToolTip="Follow us on twitter" />
        </a>
    </li>
</ul>